.slick-track,
.slick-list {
    transition-delay: 30ms;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.inner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.sec {
    padding: 120px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#000, 60%, transparent);
    z-index: 999;

}

.header.on {
    background: #333;
    transition: 1s;
}

.header .content {
    display: flex;
    line-height: 80px;
}

.header .content img {
    height: 40px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    margin: 0 20px 0 0;
}

.header .gnb>ul>li>a {
    padding: 100% 0;
    color: #fff;
}

.header .btn i {
    color: #fff;
    cursor: pointer;
}

.main_vi {
    position: relative;
    height: 100vh;
}

.main_vi .slogan {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, 80%);
    margin: 0 0 0 15px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main_vi .slogan strong {
    display: block;
    font-size: 100px;
    font-weight: 900;
    width: 300px;
    margin: 0 0 8px -3px;
}

.main_vi .slogan p {
    font-size: 26px;
    font-weight: 500;
}

.main_vi .bgndVideo {
    font-size: 0;
}

.main_vi .ctr {
    position: absolute;
    top: 450px;
    left: 0;
    margin: 0 0 0 15px;
    transform: translate(0, 50%);
    cursor: pointer;
}

.main_vi .ctr i {
    padding: 6px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 5px 0 0;
}

.main_vi .scr {
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff;
}

.main_vi .scr::before {
    content: "";
    position: absolute;
    top: 0;
    right: -11px;
    width: 24px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
}

.main_vi .scr::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 2px;
    height: 10px;
    background: #333;
    border-radius: 1px;
    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 6px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.main_vi .scr span {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
}

/* section img3 */

.main_con .con_box {
    display: flex;
    gap: 30px;
}

.main_con .con_box figure {
    flex: 1;
}

.main_con .img_box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 370px;
}

.main_con .img_box img {
    transform: scale(2.6);
    transition: 0.5s;
}

.main_con .img_box:hover img {
    filter: brightness(30%);
}

.main_con .img_box:hover::after {
    content: "\e907";
    font-family: xeicon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #fff;
}

.main_con .txt_box {
    text-align: center;
    margin: 20px 0;
}

.main_con .txt_box strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.main_con .txt_box p {
    font-size: 15px;
    font-weight: 300;
}

/* 스페셜 스토리 슬라이드 */
.main_story {
    position: relative;
}

.main_story .content {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -600px;
    color: #fff;
    z-index: 990;
}

.main_story ul {
    display: flex;
    gap: 20px;
}

.main_story ul li {
    position: relative;
}

.main_story ul li:hover::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00a5e5;
}

.main_story figure {
    height: 600px;
}

.main_story .story_slide .sl01 {
    background: url(../images/slide01.jpg) no-repeat center center/cover;
}

.main_story .story_slide .sl02 {
    background: url(../images/slide02.jpg) no-repeat center center/cover;
}

.main_story .story_slide .sl03 {
    background: url(../images/slide03.jpg) no-repeat center center/cover;
}

.main_story .story_slide .sl04 {
    background: url(../images/slide04.jpg) no-repeat center center/cover;
}

.main_story .story_slide .sl05 {
    background: url(../images/slide05.jpg) no-repeat center center/cover;
}

.main_story .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.main_story .slogan strong {
    display: block;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.main_story .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, 30px);
    padding: 10px 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    cursor: pointer;
    font-weight: 500;
}

.main_story .btn:hover {
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.main_story .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30px);
    max-width: 1800px;
    width: 100%;
}

.main_story .arrows i {
    color: rgba(255, 255, 255, 0.3);
    font-size: 80px;
    cursor: pointer;
    transition: 0.6s;
}

.main_story .arrows i:hover {
    color: #fff;
}

.main_story .arrows .left {
    position: absolute;
    left: 0;
}

.main_story .arrows .right {
    position: absolute;
    right: 0;
}

/* 아이템박스 */
.main_itm .itm_box {
    display: flex;
    gap: 30px;
}

.main_itm .left {
    position: relative;
    cursor: pointer;
}

.main_itm .left .img_box {
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
}


.main_itm .left .img_box img {
    filter: brightness(80%);
    transition: 0.5s;
}

.main_itm .left:hover img {
    filter: brightness(10%);
}

.main_itm img {
    object-position: 0 -30px;
}

.main_itm .left .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #fff;
    text-align: center;
}

.main_itm .left .txt_box strong {
    display: block;
    font-weight: 700;
    font-size: 50px;
    margin: 0 0 20px 0;
}

.main_itm .left .txt_box p {
    font-size: 20px;
    line-height: 1.3;
}

.main_itm .right {
    overflow: hidden;
}

.main_itm .right ul li:hover img {
    transform: scale(1.1);
}

.main_itm .right ul li {
    position: relative;
    height: 285px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.main_itm .right ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.main_itm .right img {
    border-radius: 10px;
    transition: 0.5s;
}

.main_itm .right .img_w img {
    filter: brightness(70%);
}

.main_itm .right .txt_w {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    color: #fff;
}

.main_itm .right .txt_w strong {
    display: block;
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 20px 0;
}

.main_itm .right .txt_w p {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 300;
}

.main_itm .right .txt_b {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
}

.main_itm .right .txt_b strong {
    display: block;
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 20px 0;
}

.main_itm .right .txt_b p {
    font-size: 20px;
    line-height: 1.3;
}


/* footer */
.footer {
    height: 200px;
    background: #333;
}

.footer .content {
    padding: 40px 0 0 0;
}

.footer ul {
    display: flex;
    gap: 30px;
    margin: 0 0 20px 0;
}

.footer ul li {
    position: relative;
    color: #999;
    font-size: 14px;
}

.footer ul li~li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 1px;
    height: 12px;
    background: #444;
}

.footer .st {
    font-weight: 700;
}

.footer address {
    position: relative;
    color: #999;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 0;
}

.footer address::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: #444;
}


.to_top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}

.to_top i {
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
}