.slick-track,
.slick-list {
    transition-delay: 30ms;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.header .inner {
    display: flex;
    line-height: 70px;
}

.header .inner img {
    height: 40px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    margin: 0 10px 0 0;
}

.header .gnb>ul>li>a {
    padding: 100% 0;
    color: #fff;
}

.header .gnb>ul>li>a:hover {
    color: #00a5e5;
}

.main_vi {
    position: relative;
    height: 100vh;
}

.main_vi .slogan {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, 80%);
    margin: 0 0 0 15px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main_vi .slogan strong {
    font-size: 100px;
    font-weight: 900;
}

.main_vi .slogan p {
    font-size: 26px;
    font-weight: 500;
}

.main_vi .bgndVideo {
    font-size: 0;
}

.main_vi .ctr {
    position: absolute;
    top: 440px;
    left: 0;
    margin: 0 0 0 15px;
    transform: translate(0, 50%);
    cursor: pointer;
}

.main_vi .ctr i {
    padding: 6px;
    font-size: 20px;
    color: #fff;
    /* color: #00a5e5; */
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 5px 0 0;
}

.main_con .con_box {
    display: flex;
    gap: 30px;
}


.main_con .txt_box strong {
    font-size: 20px;
    font-weight: 700;
}

.main_con .txt_box p {
    font-size: 15px;
    font-weight: 500;
}

.footer {
    height: 200px;
    background: #333;
}